* {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 3, 45, 0.4);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #840e1f;
  width: 30px;
  border-radius: 15px;
}
